#cabeceraweb{
    background-color: blue;
}

#main-nav{
    background-color: red;
}

li{
    background-color: yellowgreen;
    display: inline;
}

#barra-lateral{
    background-color: green;
    float: left;
    height: 1000px;
}

#main-content{
    background-color: purple;
    margin-left: 200px;
    padding-left: 15px;
    padding-top: 15px;
}

#main-footer{
    background-color: yellow;
    clear: both;
    margin-top: 20px;
}